<div class=" mdl-layout mdl-js-layout ">

    
    <!----------------------------------------------------------------------------main------------------------------------->
    <main class="mdl-layout__content loggedIn" >
        <div id="mainContent" class="page-content" style="">

            <div [hidden]="!loggedIn" style=min-height:1000px;>
                <center style="display: flex; align-items: center;justify-content: center;" >
        <div style=" max-width: 100%; margin-top:0%; ">
            <div class="mdl-card__supporting-text" style=" Padding:0px; width:auto;"> 
                    <h1 class="landingHead" style="color:rgb(244,67,54); font-weight:600; font-size:85px;">
                        <i [hidden]="status != 0"class="material-icons">snooze</i>
                        <i [hidden]="status != 1" class="fa fa-heart" aria-hidden="true"></i>
                        <i [hidden]="status != 2" class="fa fa-headphones" aria-hidden="true"></i>
                        <i [hidden]="status != 3" class="fa fa-optin-monster" aria-hidden="true"></i>
                        HASHBROWN</h1>
            </div>
        </div>
    </center>

<div class="circleCard" style="margin-top:15px;">
    <div class="circleCard">
        <button class="extend7 mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-shadow--4dp landingNavSelected" 
       (click)="addCustomMetricOpen()">
<i class="material-icons">play_arrow</i><br>START
</button>
   <button class="extend7 mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-shadow--4dp landingNavSelected" 
       (click)="addCustomMetricOpen()">
<i class="material-icons">pause</i><br>PAUSE
</button>
 <button class="extend7 mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-shadow--4dp landingNavSelected" 
 >
<i class="material-icons">stop</i><br>STOP
</button>
<button class="extend7 mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-shadow--4dp landingNavSelected" 
(click)="statusOpen()">
<i class="fa fa-heart" aria-hidden="true" ></i><br>STATUS
</button>
 <button (click)="signOut()"class="extend7 mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-shadow--4dp landingNavSelected" 
 >
<i class="fa fa-sign-out" aria-hidden="true"></i><br>LOGOUT
</button>
    </div></div>

<div class="circleCard" style="margin-top:45px;">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp" *ngFor="let personStatus of groupStat" [hidden]="!personStatus.taskOn" style="margin:25px;">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">{{personStatus.nameShow}}</h2>
  </div>
  <div class="mdl-card__supporting-text" style="padding-top:0px;">
    <span style="font-size:18px; font-weight:600;">{{personStatus.categoryShow}}</span>
     <span style="font-size:15px; font-weight:600; margin-left:5px;">{{personStatus.taskShow}}</span><br>
    <span style="font-size:14px; font-weight:500; margin-top:10px;">{{personStatus.descriptionShow}}</span><br>
    <span style="font-size:14px; font-weight:500; margin-top:10px;">Started On {{personStatus.dateShow}}</span><br>
    <span style="font-size:14px; font-weight:500; margin-top:10px;">Time Spent {{personStatus.timeSince}}</span><br>
    
  </div>
  <div class="mdl-card__actions mdl-card--border" >
    <a class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">thumb_up</i>
    </a>
       <a class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">insert_comment</i>
    </a>
  </div>
  <div class="mdl-card__menu">
    <button id="personStatus.nameShow" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
    <i   [hidden]="personStatus.status != 0" class="material-icons">snooze</i>
                        <i  [hidden]="personStatus.status != 1" class="fa fa-heart" aria-hidden="true"></i>
                        <i  [hidden]="personStatus.status != 2" class="fa fa-headphones" aria-hidden="true"></i>
                        <i  [hidden]="personStatus.status != 3" class="fa fa-optin-monster" aria-hidden="true"></i>
                        
    </button>
    <div [hidden]="personStatus.status != 0" class="mdl-tooltip mdl-tooltip--right" for="tt0">Can't Even</div>
    <div  [hidden]="personStatus.status != 1" class="mdl-tooltip mdl-tooltip--right" for="tt0">Open to chit chat, small talk, and long walks on the creek path</div>
    <div  [hidden]="personStatus.status != 2" class=" mdl-tooltip mdl-tooltip--right" for="tt0">Available for work related questions</div>
    <div [hidden]="personStatus.status != 3" class="mdl-tooltip mdl-tooltip--right" for="tt0">I'm workin, I'm foucsed, don't f wit me</div>
  </div>
</div>
</div>

               
            </div>

            <my-landing [hidden]="loggedIn"></my-landing>
            <button #refresh style="display: none;"></button>
            </div>
             </main>
    
</div>

<dialog #addDialog class="mdl-dialog">
    <h4 class="mdl-dialog__title">Start Task</h4>
    <div class="mdl-dialog__content">
        <div style='
    display: block;
    font-size: 16px;
    font-family: "Helvetica","Arial",sans-serif; 
    margin-top:10px;
    color:rgba(0,0,0,.3);'>
            <span >{{category}}</span>
          <button id="demo-menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon">
        
  <i class="material-icons">arrow_drop_down</i>
</button>
<ul class="mdl-menu mdl-menu--top-left mdl-js-menu mdl-js-ripple-effect"
    data-mdl-for="demo-menu-lower-left">
  <li class="mdl-menu__item" (click)="category='Ticket'">Ticket</li>
  <li class="mdl-menu__item" (click)="category='Critical'">Critical</li>
  <li class="mdl-menu__item" (click)="category='PDI'">PDI</li>
  <li class="mdl-menu__item" (click)="category='Project'">Project</li>
  <li class="mdl-menu__item" (click)="category='Crisis'">Crisis Mngmt</li>
  <li class="mdl-menu__item" (click)="category='Meeting'">Meeting</li>
  <li class="mdl-menu__item" (click)="category='Break'">Break</li>  
  <li class="mdl-menu__item" (click)="category='Other'">Other</li>
</ul>
        </div>
         <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="sample3" [(ngModel)]="task">
            <label class="mdl-textfield__label" for="sample3">Task...</label>
        </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="sample3" [(ngModel)]="description">
            <label class="mdl-textfield__label" for="sample3">Description...</label>
        </div>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button" (click)="addCustomMetricClose()">Close</button>
        <button type="button" class="mdl-button" (click)="saveD()">Add</button>
    </div>
</dialog>

<dialog #welcomeDialog class="mdl-dialog">
                <h4 class="mdl-dialog__title">Welcome</h4>
                <div class="mdl-dialog__content">
                    <p>
                        Welcome to Hashbrown.<br>What's your name?'
                    </p>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="sample4" [(ngModel)]="name">
            <label class="mdl-textfield__label" for="sample4">Full Name...</label>
        </div>
                </div>
                <div class="mdl-dialog__actions">
                    <button type="button" class="mdl-button" (click)="saveName();">Continue</button>
                </div>
            </dialog>


            <dialog #statusDialog class="mdl-dialog">
                <h4 class="mdl-dialog__title">Status</h4>
                <div class="mdl-dialog__content">
                    <h6>What's your status?</h6>

                        <i id="tt9"  style="margin:10px; font-size:25px; cursor:pointer;" class="material-icons" (click)="status=0;">snooze</i>
                        <i id="tt10"  style="margin:10px; font-size:25px; cursor:pointer;" class="fa fa-heart" aria-hidden="true" (click)="status=1;"></i>
                        <i id="tt11"  style="margin:10px; font-size:25px; cursor:pointer;" class="fa fa-headphones" aria-hidden="true" (click)="status=2;"></i>
                        <i id="tt12" style="margin:10px; font-size:25px; cursor:pointer;" class="fa fa-optin-monster" aria-hidden="true" (click)="status=3;"></i>

                        <div  class="mdl-tooltip mdl-tooltip--right mdl-tooltip--large" for="tt9">Can't Even</div>
    <div  class="mdl-tooltip mdl-tooltip--right mdl-tooltip--large" for="tt10">Open to chit chat, small talk, and long walks on the creek path</div>
    <div   class=" mdl-tooltip mdl-tooltip--right mdl-tooltip--large" for="tt11">Available for work related questions</div>
    <div  class="mdl-tooltip mdl-tooltip--right mdl-tooltip--large" for="tt12">I'm workin, I'm foucsed, don't f wit me</div>
        
                </div>
                <div class="mdl-dialog__actions">
                    <button type="button" class="mdl-button" (click)="saveStatus();">Continue</button>
                </div>
            </dialog>