<div #bigBox [hidden]="loggedIn" >
    <center style="display: flex; align-items: center;justify-content: center;" >
        <div style=" max-width: 100%; margin-top:7%; ">
            <div class="mdl-card__supporting-text" style=" Padding:0px; width:auto;">
           
                    <h1 class="landingHead" style="color:rgb(244,67,54); font-weight:600; font-size:85px;">HASHBROWN</h1>

               
             
            </div>
            
        </div>
    </center>
<div #contentBox style="transition-duration:.7s; width:100%;" [style.left.px]="contentLeft" 
[style.top.px]="contentTop" [style.position]="contentPosition">
<div class="circleCard" style="margin-top:15px;">
    <div class="circleCard">
        <button class="extend7 mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-shadow--4dp" 
        [class.landingNavSelected]="one" 
        (click)=" openLogin();">
<i class="fa fa-bolt" aria-hidden="true"></i><br>LOGIN
</button>
 <button class="extend7 mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-shadow--4dp " 
 [class.landingNavSelected]="one"
 (click)="openRegister()">
<i class="fa fa-thumbs-up" aria-hidden="true"></i><br>CREATE ACCOUNT
</button>
    </div></div>

    <dialog #loginDialog class="mdl-dialog">
        <h4 class="mdl-dialog__title">Login</h4>
        <div class="mdl-dialog__content">
            <center>
<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect" (click)="signInRe()" style="height:120px; width:120px;">
  <i class="fa fa-google" aria-hidden="true" style="font-size:100px;"></i>
</button>
            </center>
        </div>
        <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
            <button type="button" class="mdl-button" (click)="closeLoginDialog()">Close</button>
        </div>
    </dialog>

    <dialog #registerDialog class="mdl-dialog">
        <h4 class="mdl-dialog__title">Create Account</h4>
        <div class="mdl-dialog__content">
        </div>
        <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
            <button type="button" class="mdl-button" (click)="closeRegisterDialog()">Close</button>
            <button type="button" class="mdl-button" (click)="registerGoogle()"><i class="fa fa-google" aria-hidden="true"></i></button>
        </div>
    </dialog>